@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable.woff2)
    format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable-Italic.woff2)
    format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Outfit';
    src: url(./fonts/Outfit[wght].woff2)
    format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}