@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable.woff2)
    format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable-Italic.woff2)
    format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Outfit';
    src: url(./fonts/Outfit[wght].woff2)
    format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    display: flex;
    align-items: stretch;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

p {
    font-family: 'Outfit', serif;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.left {
    background-image: url(./assets/background-pic.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    flex: 45 1 45%;
}

.logo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 20% 0 80% 0;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 67%);
    height: 20vh;
}

.logo-text {
    color: azure;
    font-size: 4rem;
}

.right {
    background-color: rgb(220, 232, 255);
    flex: 55 1 55%;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.text-area {
    padding: 12px 48px;
}

button {
    padding: 16px 48px;
    border-radius: 16px;
    border: none;
    background-color: rgb(73, 129, 251);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 67%);
    color: azure;
    font-family: 'Outfit', serif;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(73, 129, 251);
}

.form-area {
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 67%);
    padding: 2px 48px;
}

.form-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 24px;
}

.font-items {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    gap: 48px;
}

.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px ;
}

label {
    font-family: 'Outfit', serif;
    font-weight: 600;
    color: rgb(67, 67, 67);
}

input {
    appearance: none;
    border: 2px solid lightgray;
    border-radius: 4px;
    padding: 4px 12px;
}

input:focus {
    outline: none;
    border: 2px solid rgb(0, 132, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 67%);
}

input:invalid {
    outline: none;
    border: 2px solid rgb(255, 0, 0);    
}